{% extends "base.html.twig" %}


{% block title %}modifier equipement
{% endblock %}


{% block body %}

	<h1>Equipement</h1>

	<div class="row">
		<div class="col-md-4">
			<a href="{{path("new_equipement")}}" class='btn btn-outline-success'>Nouveau</a>
		</div>
	</div>

	<div class="row">

		<table class="table table-striped">


			{% for equipement in equipements %}
				<tr>
					<td>{{equipement.name}}</td>
					<td>
						<a href="" class='btn btn-danger'>Suprimer</a>
					</td>

				</tr>
			{% endfor %}

		</table>

	</div>
{% endblock %}
