{% extends "base.html.twig" %}


{% block title %}modifier service
{% endblock %}


{% block body %}

	<h1>Service</h1>


	{% for message in app.flashes('success') %}
		<div class='alert alert-success'>{{message}}</div>
	{% endfor %}

	<div class="row">
		{{ form_start(form) }}
		<div class='row'>
			<div class='col-8'>{{ form_row(form.name) }}</div>

			<div class='col-4'><input type="submit" class='btn btn-primary' value='Modifier'></div>


		</div>


		{{ form_end(form) }}


	</div>
{% endblock %}
